@model events_mvc.Models.EventTypeViewModel

<div class="card">
    <div class="card-header">
        <h2>@Model.Naziv - Detalji</h2>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Naziv:</dt>
            <dd class="col-sm-9">@Model.Naziv</dd>
            
            <dt class="col-sm-3">Opis:</dt>
            <dd class="col-sm-9">@Model.Opis</dd>
            
            <dt class="col-sm-3">Minimalno polaznika:</dt>
            <dd class="col-sm-9">@Model.MinimalnoPolaznika</dd>
        </dl>
        
        <div class="mt-3">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Uredi</a>
            <a asp-action="Index" class="btn btn-secondary">Natrag</a>
        </div>
    </div>
</div>
