@model List<events_mvc.Models.EventTypeViewModel>

<h2>Vrste događaja</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Minimalno polaznika</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@item.Id">@item.Naziv</a></td>
                <td>@item.MinimalnoPolaznika</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Nova vrsta</a>
